.vErr {
    color: red;
    font-size: 13px;
    position: relative;
    padding-left: 25px;
    display: block;
    margin-top: 3px;
    text-transform: capitalize;
}

.vErr::before {
    content: '!';
    position: absolute;
    top: 4px;
    left: 0;
    background-color: rgba(255, 167, 167, 0.247);
    width: 15px;
    height: 15px;
    line-height: 10px;
    font-size: 11px;
    color: rgb(255, 0, 0);
    text-align: center;
    border-radius: 100%;
    border: 2px solid rgb(252, 100, 100);
}

.noDataFound{
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(219, 50, 50);
}