.navMain {
    background-color: rgb(204, 240, 184);
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(180, 180, 180);
    margin-bottom: 50px;

    .navLink {
        background-color: red;
        border-radius: 5px;
    }
}