ul {
    padding: 0;
    margin: 0;
}

.variousPackagesUse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    @media screen and (max-width: 1720px) {
        justify-content: space-around;
    }

    .packages {
        padding: 10px;
        min-width: 49.40%;
        max-width: 49.40%;
        background-color: rgb(235, 235, 235);
        border: 1px solid rgb(184, 184, 184);

        @media screen and (max-width: 1720px) {
            flex-direction: column;
            min-width: 1100px;
            max-width: 1100px;
        }

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            min-width: 900px;
            max-width: 900px;
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            min-width: 100%;
            max-width: 100%;
        }

        .heading {
            margin-bottom: 10px;

            span {
                display: block;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .overView {
            display: flex;
            flex-direction: column;

            .singleLineText {
                display: block;
                padding-left: 15px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 13px;
                    left: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: rgb(108, 159, 236);
                    transform: translateY(-50%);
                }

                p {
                    font-size: 13px;
                    padding-left: 12px;
                    position: relative;
                    margin: 3px;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 11px;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        background-color: rgb(252, 139, 252);
                        transform: translateY(-50%);
                    }

                    // &:not(:last-child) {
                    //     margin-bottom: 0px !important;
                    // }

                    .visitDoc {
                        text-decoration: none;
                    }

                    .npmCommand {
                        cursor: pointer;
                        background-color: rgb(177, 241, 225);
                        padding: 0 5px 3px 5px;
                        border-radius: 5px;
                        font-weight: bold;
                        margin-top: 5px;
                    }
                }
            }
        }

        .exampleMain {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            .exampleSub {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                box-shadow: inset 0 0 10px rgb(116, 97, 48);
                background-color: rgb(255, 246, 220);

                &:first-child {
                    margin-top: 20px;
                }

                .exampleHeading {
                    padding: 10px;

                    h2 {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: bold;
                        color: rgb(17, 83, 114);
                    }

                    span {
                        font-size: 14px;
                        color: rgb(17, 83, 114);
                    }
                }

                .exampleContent {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 10px;
                    gap: 17px;

                    .exampleCommon {
                        background-color: rgb(205 243 224);
                        padding: 10px;

                        &.fullWidth {
                            min-width: 100%;
                        }

                        &.triennialWidth {
                            max-width: 31.95%;
                        }

                        .exampleCommonPoints {
                            span {
                                font-weight: bold;
                                color: rgb(46, 107, 31);
                            }

                            p {
                                font-size: 12px;
                                line-height: 14px;
                                color: rgb(102, 86, 31);

                                label {
                                    color: red;
                                    text-transform: capitalize;
                                }
                            }
                        }

                        .exampleCommonContent {
                            margin-top: 20px;

                            &.exampleCommonContentFloat {
                                float: left;
                                margin-top: 0;
                                margin-left: 20px;

                                &:first-child {
                                    margin-left: 0px;
                                }
                            }

                            &.exampleCommonContentFullWidth {
                                min-width: 100%;
                            }

                            &.exampleCommonContentTriennialWidth {
                                max-width: 31.95%;
                            }

                            &:first-child {
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    .widthFixed200 {
        width: 200px;
    }
}