body {
  padding: 0;
  margin: 0;

  .mainNav {
    .subNav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-image: linear-gradient(184.1deg, rgba(249, 255, 182, 1) 44.7%, rgba(226, 255, 172, 1) 67.2%);
      padding: 0 10px;

      .logo {
        align-self: center;
        padding: 10px 0;

        img {
          width: 60px;
        }
      }

      .navLink {
        align-self: center;

        nav {
          width: 360px;

          ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0;

            li {
              list-style: none;
              background-image: radial-gradient(circle 341px at 10% 20%, rgba(132, 94, 194, 1) 0%, rgba(196, 243, 251, 1) 90%);
              border-radius: 5px;

              a {
                text-decoration: none;
                color: white;
                font-size: 17px;
                font-weight: bold;
                display: block;
                padding: 5px 10px;
              }
            }
          }
        }
      }

      .userInfo {
        align-self: center;

        span {
          background-color: gray;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .mainFooter {
    background-image: linear-gradient(180deg, rgba(155, 254, 23, 1) 45.5%, rgba(36, 243, 8, 1) 97.9%);
    padding-top: 10px;

    .subFooter {
      background-image: linear-gradient(179.8deg, rgba(64, 64, 64, 1) 2.4%, rgba(77, 77, 77, 1) 18.8%, rgba(108, 108, 108, 1) 34.6%, rgba(118, 118, 118, 1) 50.2%, rgba(108, 108, 108, 1) 63.8%, rgba(77, 77, 77, 1) 79.9%, rgba(64, 64, 64, 1) 96.4%);
      display: flex;
      flex-direction: column;

      .footerTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;

        .logoAndAbout {
          width: 250px;
          padding: 10px;

          .logo {
            margin-bottom: 25px;
            text-align: center;

            img {
              width: 100px;
              cursor: pointer;
            }
          }

          .about {
            color: white;

            span {
              font-size: 14px;
              text-align: justify;
              display: block;
            }
          }
        }

        .quickLink {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 10px;

          .heading {
            color: rgb(155 254 23);

            span {
              font-weight: bold;
              text-transform: capitalize;
              font-size: 25px;
            }
          }

          .links {
            position: relative;

            ul {
              width: 100%;
              display: flex;
              flex-direction: column;
              padding: 0;
              margin: 0;

              li {
                list-style: none;
                padding: 7px 0;
                position: relative;

                &::after {
                  content: '';
                  position: absolute;
                  left: 0px;
                  top: 16px;
                  width: 7px;
                  height: 7px;
                  background-color: yellowgreen;
                  z-index: 1;
                  border-radius: 100%;
                }

                a {
                  display: block;
                  text-decoration: none;
                  color: white;
                  transition: 0.30s ease-in-out;
                  padding-left: 15px;

                  &:hover {
                    color: rgb(167, 214, 80);
                  }
                }
              }
            }
          }
        }

        .newsAndUpdate {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 10px;

          .newsForLatter {
            span {}

            form {
              input {}

              button {}
            }
          }

          .socialLinks {
            margin-top: 50px;

            ul {
              margin: 0;
              padding: 0;
              display: flex;
              flex-direction: row;
              justify-content: space-around;

              li {
                list-style: none;
              }
            }
          }
        }
      }

      .footerBottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.377);
        padding: 10px;

        .copyright {
          color: white;

          span {}
        }

        .developer {
          color: white;
          margin-left: 5px;

          span {
            a {
              text-decoration: none;
              color: rgb(96, 135, 219);
            }
          }
        }
      }
    }
  }
}